/*Landing page css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f4;
}

/* Navigation Bar */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6600;
}

/* Main Container */
.container {
    display: flex;
    flex: 1;
    height: 100vh;
    margin-top: 60px; /* Adjusted for the fixed navbar */
}

.service {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.service.mechanic {
    background: url('../../garagexauto/assets/img/garagxphoto.jpeg') no-repeat center center/cover;
}

.service.electrician {
    background: url('../img/prototype1.jpeg') no-repeat center center/cover;
}

.service:hover {
    transform: scale(1.05);
}

.service .content {
    z-index: 2;
    animation: fadeInUp 1s ease-out;
}

.service:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Call-to-Action Button */
.cta-button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 1s ease-in-out;
}

.cta-button:hover {
    background-color: #ff4400;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1000;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ff6600;
}
